<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TellorLotteryAddress" value="0" />
    <add key="TellorPoolAddress" value="0" />
    <add key="TellorPlaygroundAddress" value="0" />
    <add key="CompetitionNumber" value="0" />
  </appSettings>
</configuration>

